
:root {
  --color: #3c3163;
  --transition-time: 1s;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.maincard {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
  padding: 64px;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(255, 0, 0, 0)), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 24px;
  color: rgb(68, 68, 68);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 80px -16px black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 34px;
  line-height: 20px;
}

.card p {
  font-size: 18px;
  font-family: 'Open Sans';
  margin-top: 8px;
  line-height: 32px;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 18px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 0 8px;
  margin-right: 8px;
  line-height: 24px;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}


.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background-color: ivory;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}



.info {
  font-size: 20px;
  display: flex;
  padding: 16px 48px;
  height: 48px;
}

.info img {
  height: 48px;
  margin-right: 8px;
}

.info h1 {
  font-size: 16px;
  font-weight: normal;
}
